<% layout("/layouts/boilerplate") %>
<body>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kepler 186-F</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Discovery: </b>6 October 1995</li>
          <li class="list-group-item"><b>radius: </b>135,830 km</li>
          <li class="list-group-item"><b>Orbits: </b>51 Pegasi</li>
          <li class="list-group-item"><b>Discoverers: </b>Michel Mayor,Didier Queloz</li>
        </ul>
        <div class="card-body ">
            <h5>learn More:</h5>
          <a href="" class="card-link">wikipedia</a>

        </div>
      </div>
</body>